/* Reset (Optional, but recommended) */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-color: #933 #fff;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../media/bgimg.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: "Times New Roman", sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #93332e;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 1rem;
}

#headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}

.logo-text {
    font-size: 2rem;
    text-align: center;
    margin-left: 1rem;
}

.img img {
    max-height: 100px;
    width: auto;
}


  .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 600px;
    width: 100%;
    margin: 40px auto;
    overflow-y: auto;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
  }

  .highlight-correct {
    background-color: #8FEE8F;
  }

  .highlight-wrong {
    background-color: #FF8F8F;
  }

  /* Ensure smooth scrolling */
  html {
    scroll-behavior: smooth;
    scroll-padding: 10rem;
  }

  .quiz-question {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif ;
    color: #933; /* Ensure question text is visible */
  }

  .quiz-options {
    background-color: white;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  button {
    border: none;
    padding: 12px 20px;
    background-color: #93332e;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #dc3545;
  }



  .container h1{
    text-align: center;
    color: #93332e;
  }

/* Footer */
.footer {
    background-color: #f5f6f6;
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
}

.footer h1 {
    font-size: 1.8rem;
    color: #dc3545;
    margin: 0;
    padding: 0;
    border: none;
}

.footer h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: #dc3545;
    margin: 0.5rem 0;
}

.footer h2 a {
    text-decoration: none;
    color: #dc3545;
    transition: color 0.3s;
}

.footer h2 a:hover {
    color: #93332e;
}

.footer p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: black;
    margin: 0.5rem 0;
}

/* Box */
.box {
    margin: 2rem auto;
    width: 80%;
    text-align: center;
}

.box ul {
    margin: 1rem 0;
    font-size: 1.2rem;
    color: #dc3545;
    padding-left: 2rem;
    text-align: left;
    list-style-type: disc;
}

/* Image */
.image img {
    max-width: 50%;
    height: auto;
    margin: 2rem auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Department */
.dept {
    background-color: #93332e;
    color: #f5f6f6;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
}

.dept a {
    color: #f5f6f6;
    text-decoration: none;
    transition: color 0.3s;
}

.dept a:hover {
    color: #cdc2ae;
}

/* Image */
.img img {
    max-width: 50%;
    height: auto;
    background-color: #f5f6f6;
    padding: 0.2rem;
    margin: 0.5rem auto;
    display: block;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes slide-in-anim {
    20% {
      opacity: 0;
    }
    60% {
      transform: translateX(-45%);
    }
    75% {
      transform: translateX(-52%);
    }
    100% {
      opacity: 1;
      transform: translateX(-50%);
    }
  }


  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      text-align: center;
    }
    .container {
      width: 90%;
      padding: 15px;
      font-family: 'Times New Roman', Times, serif;
    }

    .logo-text {
      font-size: 1.5rem;  /* Smaller font on mobile */
    }
    .img img {
      max-height: 80px;  /* Smaller logo on mobile */
    }
    .quiz-question {
      font-size: 1.2rem;  /* Smaller question font */
    }
  }